N8N_VERSION=stable

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=postgresuser
POSTGRES_NON_ROOT_PASSWORD=password

RUNNERS_AUTH_TOKEN=authtoken

MARIADB_ROOT_PASSWORD=password
MARIADB_DATABASE=hackathon_db
MARIADB_USER=hackathon_user
MARIADB_PASSWORD=password